body{
 margin: 10px auto;
 font-family: 'Playfair Display', serif;
 font-size:19px;
 }

p{
	display:inline;
	
}


.container{
	border:2px solid black;
	width:400px;
	height:630px;
	border-radius:15px;
	position: relative;
	padding:0;
}
 .header{
 	height:200px;
 	border-bottom: lightgrey 2px solid;
 	margin-bottom: -20px;

 	position: relative;
 	background-image: url('bg1.jpg');  
 	border-top-right-radius: 15px;
 	border-top-left-radius:15px;
    opacity:0.8;
   }
   
 #date{
 	display:flex;
 	flex-flow:column;
    position: absolute;
    top:6px;
    left: -24px;	
 
 }

 #clear{
 	position: absolute;
 	right:20px;
 	color:brown;
 	top:5px;
 	font-size:20px;
 	
 }
 
.fa-refresh:hover{
  cursor: pointer;
  color:blue;
}
.content{
	list-style-type: none;
	padding: 2px 20px;
	height:340px;
	border-bottom:2px lightgrey solid;

}
.item{
	position:relative;
}
.fa-trash-o{
    
    font-size:19px;
     position: absolute;
     top:10px;
     right:8px;     
 }
.fa-trash-o:hover{
    
    cursor: pointer;  
    color :red;   
 }

/* JS class*/
 .Line-Through{
 	text-decoration: line-through;
 	color:lightgreen;
 }


 .fa-square-o:hover{
 	cursor:pointer;
 }

.footer{
 	position: absolute;
 	bottom:10px;
 	left:20px;
 }

 .footer i{
     border:1px blue solid;
     border-radius: 18px;
     background-color: blue;
     color:white; 
     padding:5px;
     padding-left:9px;
     font-weight: bold;
    

 }
 .footer >input{
 	border:0px;
 	font-size:20px;
 	color:brown;
 }